*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0;
}
.div_sitecompleto{
    display: flex;
    flex-direction: row;
    margin: 0px;
}
.div_sitecompleto .div_navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: black ;
    margin: 0px;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.div_sitecompleto .div_conteudos{
    display: flex;
    flex: 6;
    margin: 0px;
    min-height: 100vh;
}
.div_sitecompleto .div_navbar .div_logo{
    background-color: black;
    padding: 0.5rem;
    min-height: 1rem;
    
}
.div_sitecompleto .div_navbar .div_logo img{
    width: 100%;
    display: flex;
    margin: 0px ;
    padding: 0rem 0rem; 
    
    
}
.div_sitecompleto .div_navbar .div_links{
   margin-top: 2rem;
   
}
.div_sitecompleto .div_navbar .div_links nav{
    
    display: flex;
    flex-direction: column;
    background-color: black;
    
}

.div_sitecompleto .div_navbar .div_links nav a{
    font-size: 0.9rem;
    align-items: center;
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    display: flex;
    padding: 0.8rem 0.9rem;
}

.div_sitecompleto .div_navbar .div_links nav a img{
    display: flex;
    width: 1rem;
    margin: 0px ;
    padding: 0rem 0.5rem; 
    margin-left: -0.2rem;
}



.div_sitecompleto .div_navbar .div_links nav a:hover{
    background-color: rgb(26, 26, 26);
}
.div_sitecompleto .div_navbar .div_saida nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* margin-top: 10rem; */
    
}
.div_sitecompleto .div_navbar .div_saida nav a{
    font-size: 0.9rem;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    text-decoration: none;
    padding: 0.8rem 0.9rem;
    border-top: 0.1rem solid slategray;
    display: flex;
}
.div_sitecompleto .div_navbar .div_saida nav a img{
    display: flex;
    width: 1rem;
    margin: 0px ;
    padding: 0rem 0.5rem; 
    margin-left: -0.2rem;
}
.div_sitecompleto .div_conteudos{
    /* background-color: whitesmoke; */
    display: flex;
    flex-direction: column;
}
.div_sitecompleto .div_conteudos .div_topo{
    margin: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    height: 6.5rem;
}
.div_sitecompleto .div_conteudos .div_topo .titulo{
    display: flex;
    padding: 2.5rem;
    margin-top: 0rem;
    font-size: 1.2rem;

}
.div_sitecompleto .div_conteudos .div_topo .campos{
    display: flex;
    flex-direction: row;
}
.div_sitecompleto .div_conteudos .div_topo .campos .pesquisa{
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    margin-top: 1.5rem;
    margin-right: 1.3rem;
    justify-content: center;
    align-items: center;
}
.div_sitecompleto .div_conteudos .div_topo .campos .pesquisa img{
    width: 1rem;
}
.div_sitecompleto .div_conteudos .div_topo .campos .notificacao{
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    margin-top: 1.5rem;
    margin-right: 1.3rem;
    justify-content: center;
    align-items: center;
}
.div_sitecompleto .div_conteudos .div_topo .campos .notificacao img{
    width: 1rem;
}
.div_sitecompleto .div_conteudos .div_topo .campos .img_perfil{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background-image: url(./imagens/38db765339fdcd25d5b99cc3c7c42f02ea7ca94bv2_00.jpg);
    background-size: cover;
    margin-top: 1.1rem;
}
.div_sitecompleto .div_conteudos .div_topo .campos .inf_perfil{
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
    margin-top: 1.25rem;
    margin-left: 1rem;
    font-size: 0.9rem;

}
.div_sitecompleto .div_conteudos .div_topo .campos .inf_perfil strong{
    font-weight: 600;
}
.div_sitecompleto .div_conteudos .div_topo .campos .inf_perfil span{
    opacity: 60%;
    font-size: 0.7rem;
}
.div_sitecompleto .div_conteudos .div_cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border: 0px;
    width: 100%;
    background-color: whitesmoke;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    min-height: 40.43rem;
    display: flex;
    flex: 2;
    margin-top: -2rem;
    padding: 2rem;
    width: 100%;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:whitesmoke;
    height: 9rem;
    width: 100%;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita{
    background-color: whitesmoke;
    height: 43.43rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: -0.5rem;
    padding-right: 2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    flex: 1;
    height: 10em;
    border-radius: 5%;
    background-color: #dbecfe;
    overflow: hidden;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    flex: 1;
    height: 10rem;
    border-radius: 5%;
    background-color: #d1ffdb;
    overflow: hidden;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    height: 10rem;
    border-radius: 5%;
    background-color: #e4e5ff;
    overflow: hidden;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top1 .cardtit_top1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    height: 4rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top2 .cardtit_top2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    height: 4rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top3 .cardtit_top3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    height: 4rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top1 .cardtit_top1 .cardtitesq_top1{
    display: flex;
    align-items: center;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top1 .cardtit_top1 span{
    color: green;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top2 .cardtit_top2 .cardtitesq_top2{
    display: flex;
    align-items: center;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top2 .cardtit_top2 span{
    color: green;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top3 .cardtit_top3 .cardtitesq_top3{
    display: flex;
    align-items: center;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top3 .cardtit_top3 span{
    color: green;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top1 .cardinf_top1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    height: 4rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top2 .cardinf_top2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    height: 4rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top3 .cardinf_top3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    height: 4rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top1 .cardinf_top1 .cardintesq_top1{
    display: flex;
    flex-direction: column;

}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top1 .cardinf_top1 .cardintesq_top1 strong{
    font-size: 2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top1 .cardinf_top1 .cardintesq_top1 span{
    font-size: 0.7rem;
    margin-left: 0.2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top1 .cardinf_top1 .cardintdir_top1{
    display: flex;
    height: 4rem;
    align-items: center;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top1 .cardinf_top1 .cardintdir_top1 .div_circulo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    height: 50px;
    width: 50px;
    border-radius: 50%;


}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top1 .cardinf_top1 .cardintdir_top1 .div_circulo .interno{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbecfe;
    height: 40px;
    width: 40px;
    border-radius: 50%;

}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top2 .cardinf_top2 .cardintesq_top2{
    display: flex;
    flex-direction: column;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top2 .cardinf_top2 .cardintesq_top2 strong{
    font-size: 2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top2 .cardinf_top2 .cardintesq_top2 span{
    font-size: 0.7rem;
    margin-left: 0.2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top2 .cardinf_top2 .cardintdir_top2{
    display: flex;
    height: 4rem;
    align-items: center;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top2 .cardinf_top2 .cardintdir_top2 .div_circulo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    height: 50px;
    width: 50px;
    border-radius: 50%;


}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top2 .cardinf_top2 .cardintdir_top2 .div_circulo .interno{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d1ffdb;
    height: 40px;
    width: 40px;
    border-radius: 50%;

}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top3 .cardinf_top3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    height: 4rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top3 .cardinf_top3 .cardintesq_top3{
    display: flex;
    flex-direction: column;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top3 .cardinf_top3 .cardintesq_top3 strong{
    font-size: 2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top3 .cardinf_top3 .cardintesq_top3 span{
    font-size: 0.7rem;
    margin-left: 0.2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top3 .cardinf_top3 .cardintdir_top3{
    display: flex;
    height: 4rem;
    align-items: center;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top3 .cardinf_top3 .cardintdir_top3 .div_circulo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    height: 50px;
    width: 50px;
    border-radius: 50%;


}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top3 .cardinf_top3 .cardintdir_top3 .div_circulo .interno{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e6ff;
    height: 40px;
    width: 40px;
    border-radius: 50%;

}


.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top1 .cardinf_top1 .cardintdir_top1 .div_circulo .interno p{
    font-size: 12px;
    font-weight: 800;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top2 .cardinf_top2 .cardintdir_top2 .div_circulo .interno p{
    font-size: 12px;
    font-weight: 800;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_1 .card_top3 .cardinf_top3 .cardintdir_top3 .div_circulo .interno p{
    font-size: 12px;
    font-weight: 800;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_grafico{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 19rem;
    background-color: whitesmoke;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_grafico .grafico{
    flex: 2;
    height: 19rem;
    border-radius: 5%;
    background-color: white;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_grafico .grafico .tit_graf{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_grafico .grafico .foto_graf{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15rem;
    background-color: white;
    margin-top: -2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_grafico .grafico .foto_graf img{
    width: 35rem;
    height: 17rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_grafico .grafico .tit_graf .titesq_graf strong{
    font-size: 1.2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_grafico .grafico .tit_graf .titdir_graf{
    display: flex;
    align-items: center;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_grafico .grafico .tit_graf .titdir_graf img{
    margin-right: 0.5rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_grafico .grafico .tit_graf .titdir_graf span{
    font-size: 0.9rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 10rem;
    width: 100%;
}

.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 22rem;
    border-radius: 5%;
    background-color: white;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_foto_insta{
    display: flex;
    width: 100%;
    flex: 1;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_foto_insta .imagem{
    display: flex;
    background-size: cover;
    background-image: url(./imagens/KCbfgMR_400x400.jpg);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-top: 2.8rem;
    justify-content: end;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_foto_insta .imagem .check{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    background-color: #cee4fc;
    border-radius: 50%;
    border: 0.2rem solid white;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_foto_insta .imagem .check img{
    width: 1rem;
    height: 1rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_nome_insta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
    background-color: white;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_nome_insta strong{
    font-size: 1.5rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_nome_insta span{
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_dados_insta{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex: 1;
    background-color: white;
    border-radius: 5%;
    justify-content: space-around;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_dados_insta .dadosesq_insta{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_dados_insta .dadosesq_insta strong{
    font-size: 2rem;
    font-weight: 500;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_dados_insta .dadosesq_insta span{
    font-size: 0.7rem;
    opacity: 60%;
    margin-left: 0.2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_dados_insta .dadosmid_insta{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_dados_insta .dadosmid_insta strong{
    font-size: 2rem;
    font-weight: 500;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_dados_insta .dadosmid_insta span{
    font-size: 0.7rem;
    margin-right: 2.2rem;
    opacity: 60%;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_dados_insta .dadosdir_insta{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_dados_insta .dadosdir_insta strong{
    font-size: 2rem;
    font-weight: 500;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_perfil_insta .div_dados_insta .dadosdir_insta span{
    font-size: 0.7rem;
    margin-right: 0.6rem;
    opacity: 60%;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18rem;
    border-radius: 5%;
    background-color: black;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_titulo_face{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    background-color: black;
    border-radius: 20%;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_titulo_face strong{
    font-size: 1.3rem;
    margin: 2rem;
    color: white;
    font-weight: 500;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_titulo_face button{
    width: 4rem;
    height: 1.5rem;
    border-radius: 15%;
    background-color: #0cad5d;
    color: white;
    border: 0rem;
    margin-top: 2rem;
    margin-right: 2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_titulo_face button:hover{
    background-color: #078546;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_dados_face{
    display: flex;
    flex: 1;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_dados_face .dadosesq_face{
    display: flex;
    flex-direction: column;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_dados_face .dadosesq_face strong{
    font-size: 2rem;
    color: white;
    font-weight: 500;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_dados_face .dadosesq_face span{
    font-size: 0.7rem;
    margin-left: 0.2rem;
    color: white;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_dados_face .separador{
    width: 0.03rem;
    height: 2rem;
    background-color: white;
    opacity: 60%;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_dados_face .dadosdir_face{
    display: flex;
    flex-direction: column;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_dados_face .dadosdir_face strong{
    font-size: 2rem;
    color: white;
    font-weight: 500;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_dados_face .dadosdir_face span{
    font-size: 0.7rem;
    margin-left: 0.2rem;
    color: white;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_online_face{
    display: flex;
    flex: 1;
    background-color: black;
    justify-content: space-between;
    border-radius: 20%;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_online_face .fotos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_online_face .fotos .lili{
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(./imagens/cfee7738e4841da06dab783380c64539e65c056a.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 0.2rem solid black;
    z-index: 0;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_online_face .fotos .jin{
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(./imagens/c7af77144575b5e575d1a230acb6c03de0ea119fv2_00.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 0.2rem solid black;
    z-index: 1;
    margin-left: -1rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_online_face .fotos .asuka{
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(./imagens/tekken-7-asuka-kazama-papel-de-parede-800x1280_198.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 0.2rem solid black;
    z-index: 2;
    margin-left: -1rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_online_face .fotos .claudio{
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(./imagens/claudio.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 0.2rem solid black;
    z-index: 3;
    margin-left: -1rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_online_face .fotos .eddy{
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(./imagens/eddy.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 0.2rem solid black;
    z-index: 4;
    margin-left: -1rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_online_face .total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_online_face .total strong{
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_direita .div_campanha_face .div_online_face .total span{
    font-size: 0.7rem;
    color: white;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    flex: 1;
    height: 10em;
    border-radius: 5%;
    background-color: white;
    overflow: hidden;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    flex: 1;
    height: 10em;
    border-radius: 5%;
    background-color: white;
    overflow: hidden;
}.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    height: 10em;
    border-radius: 5%;
    background-color: white;
    overflow: hidden;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot1 .cardtit_bot1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 1rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot1 .cardtit_bot1 img{
    margin-right: 0.6rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot2 .cardtit_bot2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 1rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot2 .cardtit_bot2 img{
    margin-right: 0.6rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot3 .cardtit_bot3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 1rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot3 .cardtit_bot3 img{
    margin-right: 0.6rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot1 .cardinf_bot1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot1 .cardinf_bot1 .cardintdir_top1{
    width: 4rem;
    height: 4rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot1 .cardinf_bot1 img{
    display: flex;
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot1 .cardinf_bot1 .cardinfesq_bot1 span{
    font-size: 1.3rem;
    font-weight: 600;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot2 .cardinf_bot2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot2 .cardinf_bot2 .cardintdir_top2{
    width: 4rem;
    height: 4rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot2 .cardinf_bot2 img{
    display: flex;
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot2 .cardinf_bot2 .cardinfesq_bot2 span{
    font-size: 1.3rem;
    font-weight: 600;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot3 .cardinf_bot3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot3 .cardinf_bot3 .cardintdir_top3{
    width: 4rem;
    height: 4rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot3 .cardinf_bot3 img{
    display: flex;
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
}
.div_sitecompleto .div_conteudos .div_cont .div_conteudo_esquerda .div_deck_2 .card_bot3 .cardinf_bot3 .cardinfesq_bot3 span{
    font-size: 1.3rem;
    font-weight: 600;
}

